$fontSize = 16px // 0 号字
$fontSizeSM = 12px // -1 号字
$fontSizeLG = 26px // 1 号字

$color = #53cac3

normalBorder(position)
  border-{position}: 1px solid #ddd

fontSize($which)
  if $which == lg
    font-size $fontSizeLG
  else if $which == sm
    font-size $fontSizeSM
  else
    font-size $fontSize

clearFloat()
  &::after
    content: ''
    display: block
    clear: both
